$primary: #7E5773;
$secondary: #B0AEAF;
$accent: #54214F;
$error: #FF5A44;
$info: #479AFF;
$success: #37C660;
$warning: #FFCC00;

$anchor: $info;

$white: #ffffff;
$black: #000000;
$gray: #222b45;
$grayDark: #b0aeaf;
$grayLight: #edf1f7;
$grayPale: #e4e9f2;

$tableGray: #E0E0E0;