<template>
  <div>
    <v-data-table :headers="tableHeadersWithActions"
                  :items="tableItems"
                  :items-per-page="25"
                  :calculate-widths="true"
                  :loading="appLoading > 0"
                  :loading-text="`Loading ${selectedCollectionName} ...`"
                  :no-data-text="`No ${selectedCollectionName} found. Create some!`"
                  class="elevation-4 ma-5"
    >
      <template v-for="fieldName in userFields"
                v-slot:[`item.${fieldName}`]="{ item }"
      >
        <user-chip v-for="userId in item[fieldName]" :key="userId" :user-id="userId"/>
      </template>

      <template v-for="fieldName in nonUserUidFields"
                v-slot:[`item.${fieldName.field}`]="{ item }"
      >
        <reference-chip v-for="referenceId in item[fieldName.field]"
                        :key="referenceId"
                        :reference-id="referenceId"
                        :reference-display-name="fieldName.displayField"
                        :collection-name="fieldName.collectionName"
        />
      </template>

      <template v-slot:item.image_url="{ item }">
        <table-row-image :url="item.image_url"></table-row-image>
      </template>

      <template v-slot:top>
        <v-toolbar flat color="white">
          <h1 class="text-capitalize pl-6">{{selectedCollectionName}}</h1>
          <v-spacer></v-spacer>
          <v-dialog v-model="editorDialog"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
          >
            <template v-slot:activator="{ on }">
              <v-btn color="info"
                     dark
                     class="mb-2 mt-2"
                     v-on="on"
                     @click="createItem"
              >
                New Item
              </v-btn>
            </template>
            <object-editor v-if="editorDialog"
                           :fields="editableFields"
                           :item="editorItem"
                           :is-creating="creatingItem"
                           ref="objectEditor"
                           @close="close"
            ></object-editor>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon small
                color="info"
                class="mr-2"
                @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon small
                color="error"
                @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import {
  GET_INITIAL_APP_DATA,
  SELECTED_COLLECTION_ITEMS_GETTER,
  TABLE_HEADERS_GETTER,
  DELETE_ITEM_ACTION
} from '../store'
import { dateFields, userFields, nonUserUidFields } from '../db'
import TableRowImage from '../components/TableRowImage.vue'
import ObjectEditor from '../components/ObjectEditor.vue'
import UserChip from '../components/UserChip.vue'
import ReferenceChip from '../components/ReferenceChip.vue'

export default {
  name: 'Home',
  components: {
    TableRowImage,
    ObjectEditor,
    UserChip,
    ReferenceChip
  },
  data () {
    return {
      dateFields,
      userFields,
      nonUserUidFields,
      creatingItem: false,
      editorDialog: false,
      editorItem: {}
    }
  },
  methods: {
    close () {
      Vue.set(this, 'editorDialog', false)
    },
    createItem () {
      Vue.set(this, 'editorItem', {})
      Vue.set(this, 'creatingItem', true)
    },
    editItem (item) {
      Vue.set(this, 'creatingItem', false)
      Vue.set(this, 'editorItem', item)
      this.editorDialog = true
    },
    deleteItem (item) {
      this.$store.dispatch(DELETE_ITEM_ACTION, item)
    }
  },
  computed: {
    ...mapState(['selectedCollectionName', 'appLoading']),
    tableHeaders () {
      return this.$store.getters[TABLE_HEADERS_GETTER]
    },
    editableFields () {
      return this.tableHeaders.filter(h => h.editable)
    },
    tableHeadersWithActions () {
      const actions = [{
        text: 'Actions',
        value: 'actions',
        class: 'actions-field',
        sortable: false
      }]
      return this.tableHeaders.length > 0 ? this.tableHeaders.concat(actions) : []
    },
    tableItems () {
      return this.$store.getters[SELECTED_COLLECTION_ITEMS_GETTER]
    }
  },
  mounted () {
    this.$store.dispatch(GET_INITIAL_APP_DATA)
  },
  watch: {
    editorDialog (val) {
      val || this.close()
    }
  }
}
</script>

<style lang="scss">
@import '../sass/variables.scss';

.date-field {
  min-width: 12rem;
}
.image-field {
  min-width: 6rem;
}
.actions-field {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: $white;
}
tbody tr td:last-child {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: $white;
  border-left: 1px solid $tableGray;
}
td {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
