<template>
  <v-layout align-center justify-center class="container container-fluid fill-height">
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="accent">
          <v-toolbar-title>Harmony Administrator Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form v-model="valid" ref="form">
            <v-text-field
              name="email"
              label="Email address"
              type="text"
              id="email"
              v-model="email"
              :rules="emailRules"
              required
            ></v-text-field>
            <v-text-field
              name="password"
              label="Password"
              type="password"
              id="password"
              v-model="password"
              :rules="passwordRules"
              min="4"
              required
              @keydown.enter="login"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            dark
            aria-label="Login Button"
            @click="login"
            :class="{
              'grayLight black--text': !valid,
              'accent white--text' : valid,
              disabled: !valid
            }"
          >
            Login
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import router from '../router.js'
import { LOGIN_ACTION } from '../store'

export default {
  name: 'Login',
  data () {
    return {
      valid: false,
      email: null,
      password: null,
      showPassword: false,
      passwordRules: [
        (v) => this.validPassword(v)
      ],
      emailRules: [
        (v) => this.validEmail(v)
      ]
    }
  },
  methods: {
    goToView (path) {
      router.push(path)
    },
    validEmail (val) {
      const hasValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(val)
      return hasValidEmail ? true : 'Enter a valid email address.'
    },
    validPassword (val) {
      const hasUpperCase = /[A-Z]/g.test(val)
      const hasLowerCase = /[a-z]/g.test(val)
      const hasNumber = /\d/g.test(val)
      const hasNonalpha = /\W/g.test(val)

      if (hasUpperCase && hasLowerCase && hasNumber && hasNonalpha) {
        return true
      } else {
        return 'Password must be at least 4 characters and contain an uppercase letter, lowercase letter, number, and special character.'
      }
    },
    async login () {
      if (this.$refs.form.validate()) {
        await this.$store.dispatch(LOGIN_ACTION, {
          email: this.email,
          password: this.password
        })
      }
    }
  }
}
</script>
