<template>
  <v-app>
    <app-loading-indicator v-if="appLoading"/>
    <div v-if="loggedIn">
      <drawer/>
      <top-bar/>
    </div>

    <v-content>
      <router-view/>
    </v-content>

    <system-bar/>
    <v-snackbar v-model="snackbar.show"
                :bottom="true"
                :color="snackbar.color"
                :left="true"
                :timeout="6000"
                class="text-capitalize"
    >
      {{ snackbar.text }}
      <v-btn dark
             text
             @click="resetSnackbar"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import AppLoadingIndicator from './components/AppLoadingIndicator.vue'
import Drawer from './components/Drawer.vue'
import TopBar from './components/TopBar.vue'
import SystemBar from './components/SystemBar.vue'
import { SET_SNACKBAR_ACTION } from './store'

export default {
  name: 'App',
  components: {
    Drawer,
    TopBar,
    SystemBar,
    AppLoadingIndicator
  },
  methods: {
    resetSnackbar () {
      this.$store.dispatch(SET_SNACKBAR_ACTION, { show: false, text: '', color: '' })
    }
  },
  computed: {
    ...mapState(['loggedIn', 'appLoading', 'snackbar'])
  }
}
</script>
