<template>
  <v-progress-linear
    :active="true"
    :background-opacity="0.3"
    :buffer-value="100"
    :height="4"
    :indeterminate="true"
    :top="true"
    :value="0"
    color="secondary"
    class="app-loading"
  ></v-progress-linear>
</template>

<script>
export default {
  name: 'AppLoadingIndicator'
}
</script>

<style lang="scss">
.app-loading {
  z-index: 6;
}
</style>
