<template>
  <v-menu v-model="showMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="editedField[field.value]"
        :label="field.text"
        prepend-inner-icon="mdi-calendar"
        outlined
        readonly
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker v-model="editedField[field.value]"
                    @input="showMenu = false"
                    color="secondary"
    ></v-date-picker>
  </v-menu>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'DateField',
  props: {
    field: {
      type: Object,
      required: true
    },
    initialValue: {
      required: false
    }
  },
  data () {
    return {
      editedField: {},
      showMenu: false
    }
  },
  methods: {
    dateItemValue (dateString) {
      return new Date(dateString).toISOString().substr(0, 10)
    }
  },
  created () {
    Vue.set(this, 'editedField', this.field)
    if (this.initialValue) {
      Vue.set(this.editedField, `${this.field.value}`, this.dateItemValue(this.initialValue))
    } else {
      Vue.set(this.editedField, `${this.field.value}`, null)
    }
  },
  watch: {
    editedField: function (val) {
      this.$emit('updated', {
        value: new Date(val[this.field.value]),
        name: this.field.value
      })
    }
  }
}
</script>

<style lang="scss">
</style>
