<template>
  <v-navigation-drawer
    :value="drawerOpen"
    fixed
    app
    stateless
    dark
  >
    <v-list>
      <v-list-item-group v-model="drawerItem" color="white">
        <v-subheader>COLLECTIONS</v-subheader>
        <v-list-item
          v-for="item in userCollections"
          :key="item.key"
          @click="drawerItemClicked(item.value)"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-subheader>DEV TOOLS</v-subheader>
        <v-list-item
          v-for="item in devCollections"
          :key="item.key"
          @click="drawerItemClicked(item.value)"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex'
import { SET_SELECTED_COLLECTION_ACTION } from '../store'

export default {
  name: 'Drawer',
  data () {
    return {
      drawerItem: 0,
      drawerItems: [
        { text: 'Users', icon: 'mdi-account', value: 'users', key: 1 },
        { text: 'SermonSeries', icon: 'mdi-book-open-variant', value: 'sermonSeries', key: 2 },
        { text: 'Sermons', icon: 'mdi-book-open-variant', value: 'sermons', key: 3 },
        { text: 'ReGroups', icon: 'mdi-account-group', value: 'regroups', key: 4 },
        { text: 'WorshipAlbums', icon: 'mdi-music-note', value: 'worshipAlbums', key: 5 },
        { text: 'WorshipSongs', icon: 'mdi-music-note', value: 'worshipSongs', key: 6 },
        { text: 'Events', icon: 'mdi-calendar', value: 'events', key: 7 },
        { text: 'Jobs', icon: 'mdi-hand-heart', value: 'jobs', key: 8 },
        { text: 'Notifications', icon: 'mdi-bell', value: 'notifications', key: 9 },
        { text: 'Fields', icon: 'mdi-account', value: 'fields', dev: true, key: 10 },
        { text: 'JobTypes', icon: 'mdi-hand-heart', value: 'jobTypes', dev: true, key: 11 },
        { text: 'NotificationTypes', icon: 'mdi-bell', value: 'notificationTypes', dev: true, key: 12 }
      ]
    }
  },
  methods: {
    drawerItemClicked (collectionName) {
      this.$store.dispatch(SET_SELECTED_COLLECTION_ACTION, collectionName)
    }
  },
  computed: {
    ...mapState(['drawerOpen']),
    userCollections () {
      return this.drawerItems.filter(i => !i.dev)
    },
    devCollections () {
      return this.drawerItems.filter(i => i.dev)
    }
  }
}
</script>
