<template>
  <div>
    <v-combobox
      v-model="currentBoxOptions"
      :items="originalBoxSelections"
      :label="field.text"
      @change="handleUpdate"
      multiple
      outlined
      chips
    ></v-combobox>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'DynamicSelectField',
  props: {
    field: {
      type: Object,
      required: true
    },
    itemValues: {
      required: false
    }
  },
  data () {
    return {
      currentBoxOptions: [],
      originalBoxSelections: []
    }
  },
  methods: {
    handleUpdate (val) {
      this.$emit('updated', {
        value: val,
        name: this.field.value,
        allow_multi: this.field.allow_multi
      })
    }
  },
  created () {
    Vue.set(this, 'originalBoxSelections', this.itemValues)
    Vue.set(this, 'currentBoxOptions', this.itemValues)
  }
}
</script>

<style lang="scss">
</style>
