<template>
  <div class="harmony-logo"
        aria-hidden="false"
        role="img"
        aria-label="Harmony Logo">
    <svg width="90px" height="90px" viewBox="0 0 90 90">
      <title>Harmony Logo</title>
      <path d="M43.52,87A43.36,43.36,0,0,1,6.78,66.86l-.62-1-.45-.7.77.32L7.55,66a19.66,19.66,0,0,0,7.56,1.59c6.41,0,12-2.38,17.18-7.29,4.19-4,7.68-9.15,10.89-14.09l.27-.44.2-.31.23.29.32.41c.73,1,1.34,1.7,1.91,2.37a24.19,24.19,0,0,0,5.28,4.87,12.19,12.19,0,0,0,6.72,2.06,13.11,13.11,0,0,0,8.35-3.09l.29-.23.2-.16.16.21.23.29a26.9,26.9,0,0,0,5.76,5.64,16.92,16.92,0,0,0,9.29,3h1l-.17.36-.24.51A43.71,43.71,0,0,1,43.52,87ZM15.11,66.19h0A20.29,20.29,0,0,1,4.69,63l0,0,0,0-.14-.15,0,0v0c-.32-.64-.64-1.32-1-2.07l-.25-.58-.17-.41.44.05.63.08a13.79,13.79,0,0,0,1.41.08,16.19,16.19,0,0,0,11.7-4.95c3-2.92,5.43-6.73,7.76-10.41l0,0c1.07-1.71,2.4-3.82,3.77-5.72A35.51,35.51,0,0,1,31.94,35l.16-.17.11-.12.16.05.22.07a12.92,12.92,0,0,1,4.25,2.62,43.87,43.87,0,0,1,5.67,6.52l.16.2.11.15-.1.15-.14.22c-1.68,2.59-3.33,5.11-5,7.42a42,42,0,0,1-9.62,10,21.79,21.79,0,0,1-12.79,4.08ZM82.9,59.76h0A16,16,0,0,1,71.47,55a29.62,29.62,0,0,1-3.16-3.52l-.2-.26L68,51l.17-.16.23-.23a61.54,61.54,0,0,0,4.71-5.37l.19-.23.07-.08c.94-1.16,1.92-2.36,2.9-3.44a22.61,22.61,0,0,1,5-4.35,12.13,12.13,0,0,1,4.41-1.63l.36,0,.25,0,0,.25.06.35A44.49,44.49,0,0,1,87,43.52a43.23,43.23,0,0,1-3,15.82l-.08.21-.06.16h-.4q-.32,0-.63,0ZM5.57,58.51h0a11.28,11.28,0,0,1-2.73-.34l-.2-.05-.14,0,0-.13-.06-.18c-.29-.83-.56-1.68-.8-2.54l-.11-.39-.08-.28.29-.05.41-.06a13.5,13.5,0,0,0,6.45-3.2,53.72,53.72,0,0,0,6.38-6.79c1-1.2,2.24-2.69,3.44-4A24.42,24.42,0,0,1,23.53,36a11.4,11.4,0,0,1,5.79-1.77l.8,0h.58l-.38.44-.52.62a73.94,73.94,0,0,0-5.93,8.48l-.26.41c-1.05,1.66-2.14,3.37-3.28,5a26.67,26.67,0,0,1-6.27,6.67,14.11,14.11,0,0,1-8.49,2.69Zm52.56-4.46h0a11.64,11.64,0,0,1-7.75-3.14,40.4,40.4,0,0,1-5.67-6.36l-.16-.19-.11-.15.1-.15.14-.22c1.79-2.78,3.41-5.27,5.18-7.69.78-1.07,1.59-2.13,2.43-3.16l.23-.29.17-.21.2.18.28.24c.51.43.95.84,1.35,1.23,2.72,2.74,5,6.38,7.39,10.23l.08.13.1.15c1.19,1.9,2.41,3.86,3.71,5.7l.2.29.14.19L66,51l-.27.22a18.58,18.58,0,0,1-1.56,1.1,11.1,11.1,0,0,1-6,1.74Zm-57-.84L1,53,1,52.65a43.53,43.53,0,0,1,80.22-31l.56,1,.41.7L81.41,23l-1-.46a20.27,20.27,0,0,0-8.25-1.9c-6.37,0-12,2.39-17.08,7.3-.72.69-1.45,1.44-2.21,2.29l-.21.23-.15.17-.18-.12L52,30.37a14.66,14.66,0,0,0-8-2.34,17.15,17.15,0,0,0-12,4.9l-.13.13-.1.1-.13,0-.18,0a11.2,11.2,0,0,0-2-.19,13.59,13.59,0,0,0-8.63,3.33,51,51,0,0,0-7,7.35l-.15.18-.14.17C12.69,45,11.83,46,10.94,47a25,25,0,0,1-5,4.44,10.69,10.69,0,0,1-4.32,1.68l-.34,0-.24,0Zm66.08-3.28L67,49.67l-.25-.36c-1.25-1.79-2.45-3.71-3.6-5.57l-.08-.13c-1-1.64-2.2-3.51-3.4-5.25a32.44,32.44,0,0,0-5.58-6.48l-.29-.25-.2-.17.18-.2L54,31a32.93,32.93,0,0,1,5.4-4.87A21.5,21.5,0,0,1,72.12,22,21.16,21.16,0,0,1,83,25.5l0,0,0,0,.15.16,0,0,0,0a42.59,42.59,0,0,1,2.6,7.68l.09.37.07.28-.28,0-.39.06a14.49,14.49,0,0,0-6.69,3.11A45.94,45.94,0,0,0,72,44.44c-1,1.28-2,2.43-2.94,3.51-.5.56-1,1-1.37,1.45l-.31.31-.22.22ZM43.57,43.06l-.23-.29L43,42.36c-.64-.83-1.32-1.7-2-2.52A25.29,25.29,0,0,0,35.94,35a14.45,14.45,0,0,0-1.72-1l-.52-.25-.37-.18.32-.26.45-.36a12.74,12.74,0,0,1,1.15-.85A14.9,14.9,0,0,1,44,29.39,13.22,13.22,0,0,1,51,31.31l.36.22.25.16-.18.23-.26.32A116.42,116.42,0,0,0,44,42.31l-.27.44-.2.31Z"/>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'harmony-logo'
}
</script>
