<template>
  <div class="identicon" v-html='identicon'></div>
</template>
<script>
import jdenticon from 'jdenticon'
export default {
  name: 'Jdenticon',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    identicon: function () {
      return jdenticon.toSvg(this.value, 30)
    }
  }
}
</script>

<style lang="scss">
  @import '../sass/variables.scss';

  .identicon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      background-color: $white;
      border: $grayLight;
      border-radius:50%;
    }
  }
</style>
