<template>
  <v-card>
    <v-toolbar dark
               color="primary"
    >
      <v-toolbar-title>
        <span class="headline text-capitalize">{{ editorTitle }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn icon
               dark
               @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-card-text class="pb-0 pt-5">
        <template v-for="field in fields">

          <template v-if="potentialItemFieldType === 'select'">
            <dynamic-select-field v-if="field.type[0] === 'select' && field.value === 'values_of_select'"
                          :key="field.value"
                          :field="field"
                          :item-values="item[field.value]"
                          @updated="updateSimpleField"
            ></dynamic-select-field>
          </template>

          <template v-if="potentialItemFieldType === 'reference'">
            <reference-lookup-field v-if="field.type[0] === 'reference'"
                                    :key="field.value"
                                    :field="field"
                                    :collection-name="field.ref_collection_name"
                                    :collection-item-text="field.ref_display_name"
                                    :initial-value="item[field.value]"
                                    @updated="updateMultiField"
            ></reference-lookup-field>
            <v-text-field v-else-if="field.type[0] === 'text' && ['ref_collection_name','ref_display_name'].includes(field.value)"
              :key="field.value"
              outlined
              v-model="editedFields[field.value]"
              :label="field.text"
            ></v-text-field>
          </template>

          <reference-lookup-field v-if="field.type[0] === 'reference'"
                        :key="field.value"
                        :field="field"
                        :collection-name="field.ref_collection_name"
                        :collection-item-text="field.ref_display_name"
                        :initial-value="item[field.value]"
                        @updated="updateReferenceField"
          ></reference-lookup-field>

          <v-text-field v-if="field.type[0] === 'text' && !['ref_collection_name','ref_display_name'].includes(field.value)"
              :key="field.value"
              outlined
              v-model="editedFields[field.value]"
              :label="field.text"
          ></v-text-field>

          <v-textarea v-if="field.type[0] === 'textarea'"
                      :key="field.value"
                      outlined
                      v-model="editedFields[field.value]"
                      :label="field.text"
          ></v-textarea>
          <date-field v-if="field.type[0] === 'date'"
                      :key="field.value"
                      :field="field"
                      :initial-value="item[field.value]"
                      @updated="updateSimpleField"
          ></date-field>
          <v-checkbox v-if="field.type[0] === 'checkbox'"
                      :key="field.value"
                      v-model="editedFields[field.value]"
                      :label="field.text"
                      class="checkbox-field"
          ></v-checkbox>
          <select-field v-if="field.type[0] === 'select' && field.value !== 'values_of_select'"
                        :key="field.value"
                        :field="field"
                        :initial-value="item[field.value]"
                        @updated="updateMultiField"
          ></select-field>
          <v-text-field v-if="field.type[0] === 'number'"
                        :key="field.value"
                        type="number"
                        outlined
                        v-model="editedFields[field.value]"
                        :label="field.text"
          ></v-text-field>
        </template>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color=""
             text
             @click="close"
      >
        Cancel
      </v-btn>
      <v-btn color="info"
             dark
             text
             @click="save"
             class="mr-4"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import DateField from './DateField.vue'
import SelectField from './SelectField.vue'
import DynamicSelectField from './DynamicSelectField.vue'
import ReferenceLookupField from './ReferenceLookupField.vue'
import { CREATE_ITEM_ACTION, UPDATE_ITEM_ACTION } from '../store'

export default {
  name: 'ObjectEditor',
  components: {
    DateField,
    SelectField,
    DynamicSelectField,
    ReferenceLookupField
  },
  props: {
    fields: {
      type: Array,
      default: () => [],
      required: true
    },
    item: {
      type: Object,
      required: true
    },
    isCreating: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      editedFields: {},
      menu: false
    }
  },
  methods: {
    save () {
      if (this.isCreating) {
        this.$store.dispatch(CREATE_ITEM_ACTION, this.editedFields)
      } else {
        const itemToSave = {}
        this.fields.forEach(f => {
          if (f.editable) {
            itemToSave[f.value] = this.editedFields[f.value]
            this.validateFalsyValues(f, itemToSave)
          }
          this.setUndefinedToNull(f, itemToSave)
        })
        this.$store.dispatch(UPDATE_ITEM_ACTION, {
          id: this.item.uid,
          updateSet: itemToSave,
          oldItem: { ...this.item }
        })
      }
      this.close()
    },
    close () {
      Vue.set(this, 'editedFields', {})
      this.$emit('close')
    },
    validateFalsyValues (f, itemToSave) {
      if (f.type[0] === 'select') {
        if (!!itemToSave[f.value] === false) {
          itemToSave[f.value] = []
        }
      }
      if (f.type[0] === 'checkbox') {
        itemToSave[f.value] = !!itemToSave[f.value]
      }
    },
    setUndefinedToNull (f, itemToSave) {
      if (itemToSave[f.value] === undefined) {
        itemToSave[f.value] = null
      }
    },
    updateReferenceField (editedField) {
      const referenceUids = editedField.allow_multi ? editedField.value.map(v => v.uid) : [editedField.value.uid]
      Vue.set(this.editedFields, `${editedField.name}`, referenceUids)
    },
    updateSimpleField (editedField) {
      Vue.set(this.editedFields, `${editedField.name}`, editedField.value)
    },
    updateMultiField (editedField) {
      Vue.set(this.editedFields, `${editedField.name}`, editedField.allow_multi ? editedField.value : [editedField.value])
    }
  },
  computed: {
    ...mapState(['selectedCollectionName']),
    potentialItemFieldType () {
      return this.editedFields.type ? this.editedFields.type[0] : null
    },
    editorTitle () {
      return this.isCreating ? `New ${this.selectedCollectionName} Item` : `Edit ${this.selectedCollectionName} Item`
    }
  },
  created () {
    Vue.set(this, 'editedFields', { ...this.item })
  }
}
</script>

<style lang="scss">
.checkbox-field {
  margin-top: 0;
  padding-top: 0;
  height: 3.5rem;
}
</style>
