<template>
  <div>
    <v-select :items="collectionItems"
              v-bind:value="selectedItems"
              :multiple="field.allow_multi"
              @change="handleUpdate"
              :label="field.text"
              :item-text="collectionItemText"
              outlined
              :chips="field.allow_multi"
    ></v-select>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'ReferenceLookupField',
  props: {
    field: {
      type: Object,
      required: true
    },
    collectionName: {
      type: String,
      required: true
    },
    collectionItemText: {
      type: String,
      default: 'text'
    },
    initialValue: {
      required: false
    }
  },
  data () {
    return {
      selectedItems: [],
      collectionItems: []
    }
  },
  methods: {
    handleUpdate (val) {
      let selectedReferenceObjects
      if (this.field.allow_multi) {
        selectedReferenceObjects = this.collectionItems.filter(i => val.includes(i[this.collectionItemText]))
      } else {
        selectedReferenceObjects = this.collectionItems.find(i => i[this.collectionItemText] === val)
      }
      this.$emit('updated', {
        value: selectedReferenceObjects,
        name: this.field.value,
        allow_multi: this.field.allow_multi
      })
    }
  },
  created () {
    Vue.set(this, 'collectionItems', this.$store.state[this.collectionName])
    let itemsFromUids
    if (this.initialValue) {
      itemsFromUids = this.collectionItems.filter(i => this.initialValue.includes(i.uid))
    } else {
      itemsFromUids = []
    }
    Vue.set(this, 'selectedItems', this.field.allow_multi ? itemsFromUids : itemsFromUids[0])
  }
}
</script>

<style lang="scss">
</style>
