<template>
  <v-chip pill>
    {{ referenceItem[referenceDisplayName] }}
  </v-chip>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'ReferenceChip',
  data () {
    return {
      referenceItem: null
    }
  },
  props: {
    referenceId: {
      type: String,
      required: true
    },
    referenceDisplayName: {
      type: String,
      required: true
    },
    collectionName: {
      type: String,
      required: true
    }
  },
  created () {
    Vue.set(this, 'referenceItem', this.$store.state[this.collectionName].find(i => i.uid === this.referenceId))
  }
}
</script>
