<template>
  <div>
    <v-select :items="field.values_of_select"
              v-bind:value="singleOrMultiValue"
              :multiple="field.allow_multi"
              @change="handleUpdate"
              :label="field.text"
              outlined
    ></v-select>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'SelectField',
  props: {
    field: {
      type: Object,
      required: true
    },
    initialValue: {
      required: false
    }
  },
  data () {
    return {
      editedField: {}
    }
  },
  methods: {
    handleUpdate (val) {
      this.$emit('updated', {
        value: val,
        name: this.field.value,
        allow_multi: this.field.allow_multi
      })
    }
  },
  computed: {
    singleOrMultiValue () {
      if (this.editedField[this.field.value] === null) {
        // database property is null (empty/unset)
        return []
      }
      return this.field.allow_multi ? this.editedField[this.field.value] : this.editedField[this.field.value][0]
    }
  },
  created () {
    Vue.set(this, 'editedField', { ...this.field })
    if (this.initialValue) {
      Vue.set(this.editedField, `${this.field.value}`, this.initialValue)
    } else {
      Vue.set(this.editedField, `${this.field.value}`, null)
    }
  }
}
</script>

<style lang="scss">
</style>
