<template>
  <v-system-bar
    v-if="isDevelopment"
    color="purple"
    :height="30"
    :dark="true"
    class="env-banner"
  >
    <v-icon>mdi-gear</v-icon>
    <span>DEVELOPMENT</span>
  </v-system-bar>
</template>

<script>
export default {
  name: 'SystemBar',
  data () {
    return {
      isDevelopment: process.env.NODE_ENV === 'development'
    }
  }
}
</script>
