<template>
  <v-img
    :src="url"
    aspect-ratio="1"
    max-width="64"
    min-width="64"
  >
    <template v-slot:placeholder>
      <v-row
        class="fill-height ma-0"
        align="center"
        justify="center"
      >
        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
      </v-row>
    </template>
  </v-img>
</template>

<script>
export default {
  name: 'TableRowImage',
  props: {
    url: {
      type: String,
      required: true
    }
  }
}
</script>
