<template>
  <v-app-bar
    app
    color="primary"
    dark
  >
    <v-app-bar-nav-icon @click="toggleDrawerClick" aria-label="Harmony Navigation Menu" />
    <div class="d-flex align-center">
      <harmony-logo class="pr-2 pl-2"/>
      <div class="display-1">Harmony</div>
    </div>

    <v-spacer></v-spacer>
    <v-btn
      outlined
      :text="true"
      class="white--text"
      @click.stop="logout"
    >
      Logout
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapState } from 'vuex'
import { LOGOUT_ACTION, TOGGLE_DRAWER_ACTION } from '../store'
import HarmonyLogo from './harmony-logo.vue'

export default {
  name: 'TopBar',
  components: {
    HarmonyLogo
  },
  methods: {
    logout () {
      this.$store.dispatch(LOGOUT_ACTION)
    },
    toggleDrawerClick () {
      this.$store.dispatch(TOGGLE_DRAWER_ACTION)
    }
  },
  computed: {
    ...mapState(['loggedIn'])
  }
}
</script>

<style lang="scss">
@import '../sass/variables.scss';

.env-banner {
  color: $white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.harmony-logo {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  svg {
    flex: 1;
    fill: $white;
    height: 40px;
    width: 40px;
  }
}
</style>
