<template>
  <v-chip pill>
    <v-avatar left>
      <jdenticon :value="user.uid" />
    </v-avatar>
    {{ `${user.first_name} ${user.last_name}` }}
  </v-chip>
</template>

<script>
import Vue from 'vue'
import Jdenticon from './Jdenticon.vue'

export default {
  name: 'UserChip',
  components: {
    Jdenticon
  },
  data () {
    return {
      user: null
    }
  },
  props: {
    userId: {
      type: String,
      required: true
    }
  },
  created () {
    Vue.set(this, 'user', this.$store.state.users.find(u => u.uid === this.userId))
  }
}
</script>
